.about {
  background: url(../images/hero.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.about .bg {
  background: url(../images/hero.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about .heading {
  font-size: 60px;
  text-align: right;
  padding: 40px;
  width: 100%;
}

@media (max-width:1024px) {
  .about .heading {
    font-size: 36px;
    padding: 20px;
  }
}
