.cd-container {
  text-align: left;
  padding-left: 0;
}

.cd-service, .cd-service-end {
  position: relative;
  z-index: 2;
  min-height: 50px;
  margin-left: 56px;
  padding: 0.5em 1em 2.5em;
}

.cd-service-end {
  padding: 0;
}

.cd-service-divider {
  width: 30%;
}

.cd-service::before, .cd-service::after, .cd-service-end::before {
  content: '';
  position: absolute;
  width: 56px;
  right: 100%;
  z-index: 2;
}

.cd-service::before {
  top: 0;
  height: 52px;
  background-image: url("../images/pattern-icon.svg");
  background-repeat: no-repeat;
}

.cd-service::after {
  top: 50px;
  bottom: 0;
  background-image: url("../images/pattern-line.svg");
  background-repeat: repeat-y;
}

.cd-service-end::before {
  top: 0;
  height: 50px;
  background-image: url("../images/pattern-end.svg");
  background-repeat: no-repeat;
}

@media (max-width:768px) {
  .cd-service, .cd-service-end {
    margin: 0;
  }

  .cd-service::before {
    display: none;
  }

  .cd-service::after {
    display: none;
  }

  .cd-service-end::before {
    display: none;
  }
}

.experience {
  background: #ffffff;
}

.experience a {
  color: #000000;
}

.experience a:hover {
  color: rgba(101, 101, 101, 1);
}

.experience .job-title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.experience .job-title .position {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  padding-right: 0.5em;
}

.experience .job-title .date {
  font-size: 14px;
  color: #999;
}

.experience .bullets {
  list-style-type: circle;
}

@media (min-width: 800px) {
  .experience .bullets {
    color: #999;
  }
}

.experience ul {
  list-style-type: none;
}

.experience li {
  font-weight: 500;
}

.experience .bullets li {
  padding-top: 1em;
}