.skills {
  background: #f3f3f3;
}

.skills table tr td {
  padding: 20px;
  text-align: left;
}

@media (max-width: 480px) {
  .skills table tr td {
	  padding: 15px 5px;
	}
}

.skills .skill-heading {
	min-width: 35%;
	font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bolder;
}

.skills .links {
	margin: 10px;
	text-align: center;
}