#projects {
  margin: 10px;
}

#projects a {
  color: #000000;
}

#projects .projects {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

#projects .project {
  display: inline-block;
  width: 300px;
  min-height: 300px;
  overflow: hidden;
  margin: 10px;
  border: 1px solid #ebebeb;
  text-align: left;
  opacity: 0.6;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#projects .project:hover,
#projects .project:focus {
  opacity: 1; 
}

#projects .image {
  background-size: cover;
  background-position: center;
  background-color: #f3f3f3;
	height: 220px;
}

#projects .name {
  font-size: 1.5em;
}

#projects .subtitle {
  color: #9d9d9d;
  font-size: 0.9em;
}

#projects .text {
  margin: 10px;
}