@import url("home/home.css");
@import url("photography/photography.css");

nav {
  font-family: 'MontserratRegular'; 
  font-weight: normal; 
  font-style: normal; 
}

.nav-bar {
	height: 50px;
	width: 100%;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
