#bg {
  position: fixed;
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  max-height: 100%;
}

.pagination {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.pagination>li>a {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin: 0 2px;
  padding: 4px 8px;
  color: white;
  font-size: 12px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
}

ul {
  list-style-type: none;
}
