#galleries .heading {
  margin: 10px;
}

.galleries {
  max-width: 750px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

.gallery {
  display: inline-block;
  padding: 10px;
  text-align: center;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.gallery:hover {
  opacity: 0.7;
}

.gallery .titlePicture {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 200px;
  height: 200px;
}